<div class="comments">
  {{#each comment}}

  {{!-- {{#each this}} --}}
  <div class="comment">
    <div class="commentUserInfo">
      {{user.username}}
    </div>
    <div class="comment_body">
      <p{{comment.comment_body}}></p>
    </div>
  </div>
  {{/each}}
</div>