<div class="post">
  <div class="content">
    <p>User Name: {{posts.[0].user.username}}</p>
    <p>Posts: {{posts.length}}</p>
    <p>Comments: {{comments.length}}</p>
    <a href="/profile/editUser" class="edit-user-a">Edit User Info</a>
  </div>
</div>