<div id="404">
  <section class="top">
    <div class="flex-row align-center">
      <div class="container flex-row justify-space-between-lg justify-center align-center">
        <div id="badnav-area" class="text-center">
          <h1 class="m-0">WRONG TURN!</h1>
          <h2>The page you are looking for is on another street!</h2>
          <img src="/images/404-not-found.webp" />
          <section class="big-button">
            <button class="btn btn-primary btn-lg btn-404" id="back">Get me out of here!</button>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="/js/404.js"></script>