{{!-- {{post.title}}
{{post.body}} --}}
{{> postData post}}

{{#if logged_in}}
<form class="new-comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="button" type="submit">Post Your Comment</button>
  </div>
</form>
{{/if}}

{{!-- {{> commentData}} --}}
{{> commentData post.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}