<figure>
  <img src="/images/nyc-panorama.jpg" alt="A panorama image of New York City."/>
</figure>
    
<p>This is the vendor page. When the user searches for or clicks on a certain vendor, this page displays.</p>

<aside>
  <h2>We can put the map here, and it only appear when the user is on the food find section.</h2>
</aside>

<main class="main-content">
  <section class="section-label about-site-header">
    <h3>Welcome to the Jungle!</h3>
  </section>

  <section id="about-site" class="about-site-section">
    <p id="greetings">
      Greetings fellow food fans!  You want to explore the food on the streets...
    </p>
  </section>

  <section id="park-info-header" class="section-label">
    <h3>Vendor Info</h3>
  </section>

  <section id="vendor-info-section" class="vendors-section">

    <article class="card card-main zoom">
      <div id="food-genre"></div>
      <div class="img-text">
        <h4>Food Genre</h4>
        <p>type of food</p>
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-location"></div>
      <div class="img-text">
        <h4>Location</h4>
        <p>where to find the vendor</p>
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="operation-hours"></div>
      <div class="img-text">
        <h4>Hours of Operation</h4>
        <p>when it's open</p>
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-rating"></div>
      <div class="img-text">
        <h4>Rating</h4>
        <p>what is the park rated</p>
      </div>
    </article>

    <article class="card card-alt zoom">
      <div id="vendor-menu"></div>
      <div class="img-text">
        <h4>Menu</h4>
        <p>what you csn get</p>
      </div>
    </article>
    
  </section>

</main>