<div class="weather-content sticky-fix" id="weather-content">
  <div class="main-weather" id="main-weather">
    {{!-- WEATHER SECTION --}}
    <section id="weather-forecast-header" class="section-label">
    </section>

    <section id="daily-weather" class="daily-section">
      <article class="card weather-card-main zoom">
        <div id="weather"></div>
        <div class="img-text">

          <h5>Today</h5>
        </div>
      </article>

      <article class="card weather-card-alt zoom">
        <div id="weather-day-0"></div>
        <div class="weather-img-text">
          <h5>Day 2</h5>
        </div>
      </article>

      <article class="card weather-card-alt zoom">
        <div id="weather-day-1"></div>
        <div class="weather-img-text">
          <h5>Day 3</h5>
        </div>
      </article>

      <article class="card weather-card-alt zoom">
        <div id="weather-day-2"></div>
        <div class="weather-img-text">
          <h5>Day 4</h5>
        </div>
      </article>

      <article class="card weather-card-alt zoom">
        <div id="weather-day-3"></div>
        <div class="weather-img-text">
          <h5>Day 5</h5>
        </div>
      </article>

      <article class="card weather-card-alt zoom">
        <div id="weather-day-4"></div>
        <div class="weather-img-text">
          <h5>Day 6</h5>
        </div>
      </article>
    </section>
  </div>
</div>