/* || MAIN CONTENT - GENERAL */
.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 11% 28% 88% 55% 33% 15%;
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light-background);
  padding: 1em;
  color: var(--white);
}

.main-content > section:nth-child(odd) {
  background: var(--dark-background);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--dark-highlight);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  text-decoration: underline var(--yellow-highlight);
}

/* || PARK CHOICE SECTION */


/* || PARK INFO SECTION */
#food-genre,
#vendor-location,
#operation-hours,
#vendor-rating,
#vendor-menu {
  padding: 5%;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#about-site {
  padding: auto;
  color: #000000;
}

.projects-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main alt"
    "alt alt alt";
}

.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
}

.card a {
  opacity: 75%;
}

.card-main {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 2 / span 1;
}

.card-alt {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

.img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
}

a:hover {
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}

/* || WEATHER SECTION */

.card-main-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 1 / span 5;
}

#weather,
.feature-card {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  justify-content: space-around;
}

.card-alt-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

#weather-day-0,
#weather-day-1,
#weather-day-2,
#weather-day-3,
#weather-day-4 {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.daily-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main main main main"
    "alt alt alt alt alt alt";
}

.weather-img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
}

.weather-card-body {
  width: 100%;
  height: 50%;
}

/* || CONTACT PARK SECTION */
.contact-park-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.contact-park-section a img {
  height: 8vh;
  width: 8vh;
  border-radius: 10%;
}