:root {
  --primary: #424242 ;
  --secondary: #7cb342;
  --tertiary: #bdbdbd ;
  --quatrinary: #eeeeee;
  --light: #e3e4e3;
  --dark: #7cb342 ;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  /* background-color: var(--quatrinary); */
  background-image: url("/images/boston-stock.jpg");
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  background: var(--primary);
  color: var(--light);
  position: static;
  top: 0px;
  overflow: auto;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

/* header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

header {
  background-color: var(--dark-background);
  color: var(--white);
  position: static;
  top: 0px;
  overflow: auto;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
} */

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--primary);
  background-color: var(--dark);
}

/* .gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} */

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/* .painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
} */

/* .painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
} */

/* CARDS */
.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
  border: 7px double var(--dark);
  border-radius: 10px;
  color: var(--dark);
  flex: 0 1 300px;
}

/* .card {
  margin: 20px;
  border: 7px double var(--dark);
  background-color: var(--light);
  color: var(--dark);
} */


/* flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--dark);
  /* background-color: #577a7c; */
  /* color: var(--primary); */ 
.login-card {
  width: 750px;
  height: 450px;
  display: block;
  margin-bottom: 20px;
  flex: 0 0 50%;
  padding: 5px;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--dark);
  

}
.signup-card {
  width: 450px;
  height: 450px;
  display: block;
  margin-bottom: 20px;
  flex: 0 0 50%;
  padding: 5px;
  border: 3px solid var(--primary);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--dark);
  

}

.form-group label {
  color:#424242;
}

.form-group-btn {
text-align: center;
position: relative;
top: 20px;

}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}


/* ADDED */

/* HEADER */
header img {
  width: 5em;
  height: auto;
}

/* PROFILE IMG */
figure img {
  width: 100%;
  height: 300px;
  z-index: 0;
}

.btn {
  margin-top: 20px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  text-decoration: underline var(--secondary);
  margin-left: 20px;
}

#currentDay {
  padding-right: 10px;
}

/* || VENDOR INFO SECTION */
/* #vendor-name {

} */
#food-type,
#vendor-description-card,
#vendor-weather-card,
#vendor-directions-card,
#vendor-hours-card,
#vendor-contact-card,
#contact-vendor {
  padding: 5%;
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left:0;

}

#about-site {
  padding: auto;
  color: #000000;
  font-size: .1rem;
}

.info-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "name name name"
    "main main alt"
    "alt alt alt";
}

.card a {
  opacity: 75%;
}

.vendor-name {
  width: 0;
  height: 20em;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 1 / span 3;
}

.card-main {
  width: 0;
  height: 20em;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 2 / 1 / span 1 / span 2;
}

.card-alt {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

.img-text {
  position: absolute;
  top: 0;
  /* right: 0; */
  background: var(--primary);
  color: var(--tertiary);
  flex: 1 1 50%;
  padding: 2px;

  width: 100%;
  height: 2rem;

}
.img-text p {
  text-align: center;
}
.img-text h4 {
  text-align: center;
}

a:hover {
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}

.main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 15% 50% 50% 50%;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light);
  padding: 1em;
  color: var(--white);
}

.main-content > section:nth-child(odd) {
  background: var(--tertiary);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  text-decoration: underline var(--secondary);
}

.hist-btn {
  background-color: var(--secondary);
}

#map {
  /* position: relative; */
  height: 100%; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

/* .active,
.dot:hover {
  background-color: var(--primary);
} */

/* FADING ANIMATION */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* .container {
  width: 100%;
} */

.login-btn {
  color: var(--light);
  background-color: var(--primary);
}

.profile {
  text-align: left;
  width: 100%;
 /* top: 0%;
 left: 0%; */
}

.card-two {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: var(--tertiary);
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
  border: 7px double var(--dark);
  border-radius: 10px;
  color: var(--dark);
}

.row {
  width: 100%;
}

/* .content {
  position: relative;
  top: 0%;
  right: 0%;
} */

.myPosts h3{
  padding-bottom: 10px;
}

.myPosts p {
  padding-top: 10px;
}

/* WEATHER CONTENT */
.weather-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 33%;
  grid-gap: 1em;
  margin: 1em;
}

.weather-content > section {
  background: var(--light-background);
  padding: 1em;
  color: var(--white);
}

.weather-content > section:nth-child(odd) {
  background: var(--dark-background);
}

/* || WEATHER SECTION */

.card-main-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 1 / span 5;
}

#weather,
.feature-card {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  justify-content: space-around;
}

.card-alt-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

#weather-day-0,
#weather-day-1,
#weather-day-2,
#weather-day-3,
#weather-day-4 {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.daily-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main main main main"
    "alt alt alt alt alt alt";
}

.weather-img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
}

.weather-card-body {
  width: 100%;
  height: 50%;
}