/* || GENERAL STYLES */
:root {
  --dark-background: #43a047;
  --light-background: #81c784;
  --dark-highlight: #1b5e20;
  --yellow-highlight: #ffff00;
  --sunset-orange: #ff9933;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--white);
}

/* || HEADER */
header {
  background-color: var(--dark-background);
  color: var(--white);
  position: static;
  top: 0px;
  overflow: auto;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  text-decoration: underline var(--yellow-highlight);
  margin-left: 20px;
}

header img {
  margin-right: 20px;
  height: 75px;
  width: auto;
  border: 2px solid var(--white);
}

#currentDay {
  padding-right: 10px;
}

/* || NAVIGATION BAR */
.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  min-height: 25px;
  max-height: 70px;
  background-color: var(--light-background);
  z-index: 100;
  border-bottom: 1px solid var(--dark-highlight);
}

.navbar a {
  float: right;
  font-size: 16px;
  color: var(--dark-highlight);
  text-align: center;
  line-height: 34px;
  padding: 14px 16px;
  text-decoration: none;
  min-height: 25px;
  max-height: 30px;
}

.dropdown {
  float: right;
  overflow: hidden;
  min-height: 25px;
  max-height: 50px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--dark-highlight);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--dark-highlight);
  color: var(--light-background);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light-background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--dark-highlight);
  z-index: 1;
  overflow-y: visible;
}

.dropdown-content a {
  float: none;
  color: var(--dark-highlight);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  align-self: center;
}

.dropdown-content a:hover {
  background-color: var(--dark-highlight);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* || SLIDESHOW */
#slideshowDotDiv {
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: auto;
  min-height: 100px;
  max-height: 1000px;
  width: 100%;
  height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(99, 96, 96);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: sticky;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: sticky;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* || MAIN CONTENT - GENERAL */
.main-content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 11% 28% 88% 55% 33% 15%;
  grid-gap: 1em;
  margin: 1em;
}

.main-content > section {
  background: var(--light-background);
  padding: 1em;
  color: var(--white);
}

.main-content > section:nth-child(odd) {
  background: var(--dark-background);
}

.section-label {
  font-size: 2vw;
  border-right: 6px solid var(--dark-highlight);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  text-decoration: underline var(--yellow-highlight);
}

/* || PARK CHOICE SECTION */
#choose-park-main-button {
  background-color: red;
  margin-bottom: 1em;
}

.hist-btn {
  background-color: var(--dark-background);
}

/* || PARK INFO SECTION */
#park-weather-card,
#activity-card,
#park-hours-card,
#contact-park,
#park-directions-card,
#park-description-card,
#park-name {
  padding: 5%;
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#about-site {
  padding: auto;
  color: #000000;
}

.projects-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main alt"
    "alt alt alt";
}

.card {
  height: 100%;
  width: 100%;
  margin: 1%;
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: flex-end;
  overflow: hidden;
}

.card a {
  opacity: 75%;
}

.card-main {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 2 / span 1;
}

.card-alt {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
}

.img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
}

a:hover {
  opacity: 100%;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.025);
}

/* || WEATHER SECTION */

.card-main-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  grid-area: 1 / 1 / span 1 / span 5;
}

#weather,
.feature-card {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  justify-content: space-around;
}

.card-alt-weather {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

#weather-day-0,
#weather-day-1,
#weather-day-2,
#weather-day-3,
#weather-day-4 {
  width: 0;
  height: 0;
  margin: 2px;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.daily-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  grid-template-areas:
    "main main main main main"
    "alt alt alt alt alt alt";
}

.weather-img-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--dark-background);
  color: var(--dark-highlight);
  flex: 1 1 50%;
  padding: 2px;
}

.weather-card-body {
  width: 100%;
  height: 50%;
}

/* || CONTACT PARK SECTION */
.contact-park-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.contact-park-section a img {
  height: 8vh;
  width: 8vh;
  border-radius: 10%;
}

/* || VIEWPORT RESIZING */
@media screen and (max-width: 768px) {
  .dropdown {
    float: left;
  }

  /* .main-content {
      grid-template-rows: 33% 75% 33%;
    } */

  .section-label h3 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 80%;
  }

  .contact-park-section a {
    size: 80%;
  }

  .contact-park-section a img {
    height: 5vh;
    width: 5vh;
  }
}

@media screen and (max-width: 620px) {
  .about-park-section p {
    font-size: 80%;
  }

  .img-text h4,
  .img-text p {
    font-size: 50%;
  }
}

/* @media screen and (max-width: 345px) {
  
    .main-content {
      grid-template-rows: 40% 75% 33%;
    }
  }; */

/* || PARK DROPDOWN MENU */
#dropdown-base li:hover {
  overflow-y: visible;
}

/* .dropdown-nested:hover {
  overflow-y: visible;
  overflow-x: visible;
} */

.dropdown-content .dropdown-content {
  /* left: 100%; */
  left: -100%;
  /* left: auto; */
}

.container {
  background: #eee;
  padding: 200px 100px;
  border-radius: 8px;
}