.card-body {
    position: absolute;
    left: 0;
    width: 22rem;
    height: 35rem;
    border: black 20rem;
    border: 3px solid black; 
    padding: 20px; 
    border-radius: 0px 0px 0px 0px; 
}
.card-map {
    position: absolute;
    right: 0;
    width: 60rem;
    height: 35rem;
    border: black 20rem;
    border: 3px solid black; 
    padding: 20px; 
    border-radius: 0px 0px 0px 0px; 
}
.card-footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 18rem;
    border: black 20rem;
    border: 3px solid black; 
    padding: 20px; 
    border-radius: 0px 0px 0px 0px;
}